<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<div class="container">
      <div class="row">
            <div class="col mt-5">
                  <div class="jumbotron">
                        <h1 class="display-4">Hello, world!</h1>
                        <p class="lead">Selamat datang di web Contacs-Mu</p>
                        <hr class="my-4">
                        <p>Website ini membantumu untuk menyimpan data kontakmu</p>
                        <a class="btn btn-primary btn-lg " href="/contact" role="button">Kunjungi</a>
                  </div>
            </div>
      </div>
</div>
<%- include('layouts/footer') %>
